/.phive/ export-ignore
/.phpunit.cache/ export-ignore
/build export-ignore
/tests export-ignore
/tools export-ignore
/phpunit.xml export-ignore
/.gitignore export-ignore
/.gitattributes export-ignore
